.add-employee, .employee-list{
    margin-top: 5px;
}

.employee-list button{
    margin: 5px 0;
}

span.position{
    margin: 2px;
    background: #3498db;
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
}

span.input-group-addon{
    min-width: 100px;
}

span.employee-remove{
    padding: 6px 8px;
    cursor:pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

span.employee-remove:hover i{
    opacity: 1;
}

span.employee-remove i{
    font-size: 22px;
    opacity: 0.5
}